<div class="show">
<h2><%= @user.name %>さん</h2>
<h2><%= @user.email %></h2>
<h2>プロフィール : <%= @user.profile %></h2>
<% if current_user.id == @user.id %>
  <%= link_to "編集", edit_user_registration_path %>
<% end %>

<h3>ユーザーの投稿一覧</h3>
<% @user.alitzs.each do |t| %>
  <%= t.user.name %>
  <%= t.phrase %>
<% end %>
</div>

<div class="show2">
<%= link_to "新規投稿へ", new_alitz_path %>
</div>

<div class="show3">
<%= link_to "フレーズ一覧に戻る", alitzs_path %>
</div>

<%= image_tag @user.image_url, size: "250x200" if @user.image? %>
</div>

