<div class= "jishon">
<h1>フレーズを検索</h1>
<%= form_tag({controller:"alitzs",action:"index"}, method: :get) do %>
    <% Tag2.all.each do |t| %>
      <div class="moti">
        <%= check_box :tag2_ids, t.name %><%= t.name %>
    
        <% end %>
       </div> 

  <%= submit_tag '検索' %>
   
  </div>
    

</div>
<% end %> 

<% @alitz.each do |t| %>
  <div class="alitz">
    <p>検索結果</p>
    <%= t.phrase %>
    <%= t.translation %>
    <%= t.read %>
  <% t.tags.each do |tag| %>
      <%= tag.name %>
  <% end %>
    <%= link_to t.user.name, user_path(t.user.id) %>
    <%= image_tag t.user.image_url, size: "250x200" if t.user.image? %>
    <%= t.user.email %>
  </div>
<% end %>

<div class= "text1">
「分からない」<br>
を「分かる」<br>
に変える。
</div>


<div class="alitzs-container">

<div class= "text2">
<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>
</div>
  
<div class= "jishon3">
<%= link_to "About Dialogo", alitzs_about_path %>
</div>

</div>
</div>
  