
<h3>新規投稿</h3>
<%= form_for @alitz do |f| %>

  <div class="field">
    <%= f.label :日本語訳 %>
    <%= f.text_field :phrase, :size => 30 %>
  </div>

<div class="field">
  <%= f.label :フレーズ %>
  <%= f.text_field :translation, :size => 30 %>
</div>

<div class="field">
<%= f.label :読み %>
<%= f.text_field :read, :size => 30 %>
</div>

<div class='form-group'>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
    </div> 


<%= f.select :category, [["道案内", "michiannai"], ["かっこよく言いたい", "kaiwa"], ["会話に困る", "komatta"]], include_blank: "どの投稿？" %>
<%= f.submit "投稿する" %>

<%= f.submit '送信' %>
  <% end %>
  <%= link_to "フレーズ一覧に戻る", alitzs_path %>

  
    
  
  

  
  